.gallery{
	border:3px solid #ccc;
	border-radius:10px;
	overflow: hidden;
}
	.gallery:hover{
		border:3px solid #7A7A7A;
	}
	.gallery a{
		text-decoration: none;
		color:black;
	}
	.imgGallery{
		height:10em;
	}
		.imgGallery > img{
			width: 100%;
			height: 100%;
		}
		.imgDescription{
			padding-left:3px;
			padding-right:3px;
			height: 3em;
		}
			.titleGallery{
				height: 25px;
				text-overflow:ellipsis;
				white-space:nowrap; 
				overflow:hidden; 
			}
.page-link{
	color:black;
}